[submodule "l10n_sv"]
	path = l10n_sv
	url = https://github.com/rocketgithub/l10n_sv.git
[submodule "bolson"]
	path = bolson
	url = https://github.com/rocketgithub/bolson.git
	branch = 11.0
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = https://github.com/rocketgithub/conciliacion_bancaria.git
	branch = 11.0
[submodule "caplinpointsv"]
	path = caplinpointsv
	url = git@github.com:rocketgithub/caplinpointsv.git
[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = https://github.com/rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "importaciones"]
	path = importaciones
	url = https://github.com/rocketgithub/importaciones.git
	branch = 12.0
[submodule "rrhh"]
	path = rrhh
	url = https://github.com/rocketgithub/rrhh.git
	branch = 11.0
